*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background: linear-gradient(to right, #ff6b6b, #ffb88c); /* You can change these colors */
    height: 100vh; /* Set the height of the background to the full viewport height */
    margin: 0; /* Remove default margins */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.para{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: xx-large;
    color: rgb(5, 247, 239);
 
}
.mst{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-size: xx-large;
 
}